body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.loading {
  text-align: center;
  margin-top: 200px;
  color: grey;
  font-size: 30px;
  font-weight: bold
}

#movie {
  margin-top: 10px;
  list-style: none
}
#actors {
  margin-left: 20px;
  list-style: square;
}

.movieContainer {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 5px;
  margin: 20px;
}

.movieDetail {
  border: 1px solid grey;
  border-radius: 3px;
  padding: 20px;
  padding-top: 0
  /*width: 70%;*/
  /*margin-top: -76px;
  margin-left: 40px; */
}

#movieName {
  font-size: 30px;
}

#description {
  font-size: 10px;
  font-weight: 100;
}

.sideThemeBar {
  height: 10px;
  margin-left: -20px; 
  margin-right: -20px; 
  
  /*height: 60px;*/
}
/*#firstRowInMovie {
  display: inline;
}*/


#rating {
  float: right;
  margin-right: 30px;

}